
.nav{
    height: 70px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center; 
  }
  
  .navRight{
  display: flex;
  margin-left: auto;
  }
  
  .navName{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
  }
  .navMyProfile{ 
    border: none;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
  }
  .navWallet{
    border: none;
    background-color: white;
    margin-left: 13px;
    margin-right: 10px;
    font-size: 24px;
  
    
  }
  
  .newChallenge{
    text-align: right;
    margin-right: 19px;
  }
  .newButton{
    border: none;
    font-size: 40px;
    font-weight: 300;
    outline: none;
  }
  
  
  .main {
          max-width: 1000px;
          min-width: 800;
          margin: 0 auto;
      margin-top:60px;
  }
  
  .viewChallenges{
   text-align: center;
   display: grid;
   grid-column-gap: 15px;
   grid-template-columns: repeat(3,1fr);
   margin-top: 1.5625rem;
   grid-row-gap: 19px;
   row-gap: 19px;
  }
  
  .challenge{
    width: 250px;
    height: 180px;
    border: 1.5px solid #1BA9F5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding:1.5rem;
    box-shadow: 0 3px 11px rgb(0 0 0 /5%);
  }
  
  .challengeTitle{
    font-size: 20px;
    text-align: left;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .challengeText{
    font-size: 16px;
    width: 280;
    height: 100;
    margin-left:1px;
    margin-right: 1px;
    margin-top: 0.5rem;
    line-height: 1.3em;
    word-break: keep-all;
  }
  .bottomBox{
    margin-top: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .cost{
    color: grey;
    font-size: 14px;
    margin-top: 4px;
  }
  .challengeStatus{
    color: grey;
    font-size: 14px;
    display: flex;
    margin-top: 4px;
  }

  .eth_logo{
    width: 12px;
    height: 12px;
  }
  .joinButton{
    font-size: 15px;
    color:#082230;
    font-weight: bold;
  }